@font-face {
    font-family: 'berkshireswash';
    src: url('../font-files/berkshireswash/berkshireswash.eot');    
    src: local('☺'), url('../font-files/berkshireswash/berkshireswash.ttf') format("truetype");
}
