@font-face {
    font-family: 'frederickathegreat';
    src: url('../font-files/frederickathegreat/frederickathegreat.eot');    
    src: local('☺'), url('../font-files/frederickathegreat/frederickathegreat.ttf') format("truetype");
}
