@font-face {
    font-family: 'specialelite';
    src: url('../font-files/specialelite/specialelite.eot');    
    src: local('☺'), url('../font-files/specialelite/specialelite.ttf') format("truetype");
}
